/* Responsive Styles */
@media (max-width: 768px) {
    /* Hamburger visible, logo centered */
    .menu-icon {
        display: flex;
        flex-direction: column;
        z-index: 1000;
    }
  
    .navbar {
        justify-content: space-between !important;
    }
  
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
  
    /* Hide navigation links on mobile by default */
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #070819;
        padding: 20px;
        text-align: center;
        z-index: 9999;
    }
  
    .nav-links li {
        padding: 10px 0;
    }
  
    /* Toggle visible menu on click */
    .nav-links.active {
        display: flex;
    }
    .welcome h1 {
        font-size: 50px;
    }
    .welcome p{
        font-size: larger;
        margin-bottom: 200px;
    }
    footer{
        height: 751px;
    }
    .separation-line{
        width: 319px;
        height: 1px;
        margin: 25px 0;
    }
    .contact-us{
        flex-direction: column;
    }
    .contact-text{
        font-size: 19px;
    }
    .contact-container{
        margin-right: 10px;
    }
    .main-logo{
        margin: 0;
        width: 200px;
    }
    .product-row{
        gap: 50px;
    }
  }